doctype html
// Created By CodingLab - www.codinglabweb.com
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // <title>Login Form | CodingLab</title>
  link(rel='stylesheet' href='/config.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
body
  header 
    h1 Configuration Flags
    button#saveChanges Save Changes
  h2 Settings

  .flags  
    #settings
      label.toggle
        input.toggle-checkbox#Service(type='checkbox')
        .toggle-switch
        span.toggle-label Service
      hr 
      label.toggle
        input.toggle-checkbox#Testing(type='checkbox')
        .toggle-switch
        span.toggle-label Testing
      hr
      label.toggle
        input.toggle-checkbox#OpenChrome(type='checkbox')
        .toggle-switch
        span.toggle-label Open Chrome
      hr
    h2 Data Settings 
    #dataSettings
      input#URL(type='text')
      span.toggle-label URL to Start
      hr
      input#PORT(type='number')
      span.toggle-label Port to Start
      hr
      div#roles
        if(roles.length > 0)
          each val in roles 
            div.roleControls
              input(class="role" value=val)
      button#addRole Add Role +

    

    h2 Users 
    #usersTable 
    table#users
      if(users.length > 0)
        tr
          th User's Name 
          th User's LastName
          th User's email 
          th Actions 
        each val in users 
          tr 
            td #{val.name}
            td #{val.lastName}
            td #{val.email}
            td Acciones aqui, por desarrollar

  script(src="/config.js") 
