   <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
           <div id="back">
            <button onclick="history.back(-1)" id="goback"> Go back</button>
            </div>
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in to My PortFolio</h3>
              <p style="color:red">
            {{#if messages.error}}
                {{messages.error}}
            {{/if}}
              </p>

            <hr class="my-4">
<div class="container">
        <div class="card card-container">

            <form class="form-signin" method="POST" action="/login">
                <span id="reauth-email" class="reauth-email"></span>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="sign in">
            </form><!-- /form -->
            <a href="/forgotpassword" class="forgot-password">
                Forgot the password?
            </a>
            
            <a href="/register" class="register">
                register
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
          </div>
        </div>
      </div>
    </div>
  </div>