doctype html
// Created By CodingLab - www.codinglabweb.com
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // <title>Login Form | CodingLab</title>
  link(rel='stylesheet' href='/login.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
.container
  .wrapper
    .title
      span Service is OFF
    form(action='#')
      .pass
        a(href='#') We'll be back soon