   <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in to My PortFolio</h3>
              <p style="color:red">
            {{#if messages.error}}
                {{messages.error}}
            {{/if}}
              </p>

            <hr class="my-4">
<div class="container">
        <div class="card card-container">

            <form class="form-signin" method="POST" action="/auth/register">
                <input name="name" type="text"  class="form-control" placeholder="Name" required autofocus>
                <input name="lastname" type="text"  class="form-control" placeholder="Lastname" required autofocus>
                <input name="password" type="password"  class="form-control" placeholder="Password" required autofocus>
                <input name="confirmPassword" type="password"  class="form-control" placeholder="Confirm your password" required autofocus>
                <input name="email" type="email"  class="form-control" placeholder="Email address" required autofocus>
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="sign in">
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
          </div>
        </div>
      </div>
    </div>
  </div>